# Artefatos de compilação LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.loa
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.synctex.gz
*.bcf
*.run.xml
*.idx
*.ilg
*.ind
*.nav
*.snm
*.vrb

# Temporários
*~
*.tmp
